.inputCont {
  display: flex;
  flex-direction: column;

  gap: 0.25rem;

  width: 100%;
}

.inputCont input {
  padding: 0.5rem 0.75rem;
  width: 5rem;

  border-radius: 10px;
  border: 2px solid #000;
  font-size: 16px;
  font-weight: semi-bold;
}

.tankRowFrst,
.tankRowScnd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.75rem;
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
  box-shadow: 0px 0px 1px rgb(76, 76, 76);
}

/* Tank Chemicals */

.chemListCont {
  display: flex;
  flex-direction: column;
  /* gap: 0.2rem; */
  align-items: center;
  width: 100%;
}

.chemSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-top: 0.3rem;
  padding: 0.25rem 0.5rem;
  background-color: rgb(213, 213, 213);

  border-radius: 10px;
  box-shadow: 0px 0px 3px rgb(76, 76, 76);
}

.chemInpAndDel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 0.5rem;

  cursor: pointer;
}
.chemX {
  font-weight: bold;
  transition: all 0.15s ease;
}
.chemX:hover {
  color: rgb(195, 195, 195);
}

.inputFlex {
  display: flex;
  align-items: center;
}

.inputContC input {
  margin: 0.3rem 0.7rem;
  padding: 0.2rem;
  border-radius: 10px;
  border: 2px solid #000;
  font-size: 16px;
  font-weight: semi-bold;
}
.searchRes {
  margin: 0 0.7rem 0.1rem 0.7rem;
  padding: 0.1rem 0.9rem;
  width: fit-content;
  background-color: rgba(250, 250, 250, 0.858);
  border-radius: 5px;

  cursor: pointer;
  transition: all 0.15s ease;
}

.searchRes:hover {
  background-color: bisque;
}

/* Chemical Items */

.chemItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  width: 95%;
  border: 1px solid black;

  border-radius: 10px;
}

.chemItem input {
  padding: 0.4rem 0.8rem;
  width: 5rem;
  font-size: 15px;
  border: 1.5px solid black;
  border-radius: 10px;
}

.chemTitle {
  font-weight: 550;
}
